<h1 style="text-align: center;">{{title}}</h1>
<button *ngIf="!isRootPage()" pButton type="button" label="Crear Nuevo" style="margin-bottom: 3em;"
  [routerLink]="['/feed/new']"></button>
<button *ngIf="isRootPage()" pButton type="button" label="Volver" (click)="goBack()" style="margin-bottom: 3em;"></button>
<router-outlet></router-outlet>