<a routerLink="/feed/{{feed._id}}/details">
  <p-card header={{feed.title}} subheader={{feed.publisher}}>
    <img src="{{feed.image}}" width="50%" height="50%" style="padding-top: 2em; padding-bottom: 2em;" />
  </p-card>
</a>