<div *ngIf="feed" class="p-grid" style="text-align: center; background-color: aliceblue; margin-left: 3em; margin-right: 3em;">
  <div class="p-col-12">
    <div style="display: flex; justify-content: space-between">
      <button pButton type="button" label="Editar" [routerLink]="['/feed', feed._id, 'edit']"></button>
      <button pButton type="button" label="Eliminar" (click)="deleteFeed(feed._id)"></button>
    </div>
  </div>
  <div class="p-col-12" style="text-align: center">
    <h2>
      {{feed.title}}
    </h2>
  </div>
  <div class="p-col-12">
    {{feed.publisher}}
  </div>
  <div class="p-col-12">
    <img src="{{feed.image}}" alt="">
  </div>
  <div class="p-col-12">
    <a href="{{feed.source}}" target="_blank">{{feed.source}}</a>
  </div>
  <div class="p-col-12" style="padding: 5em 10em;">
    {{feed.body}}
  </div>
</div>