<h2>Nueva noticia</h2>
<div class="p-grid" style="text-align: center; background-color: aliceblue; padding: 5em 0">
  <div class="p-lg-4 p-md-6 p-col-12">
    <label for="title-input" style="margin-right: 1em;">Título</label>
    <input id="title-input" type="text" pInputText placeholder="Titulo" [(ngModel)]="feed.title" />
  </div>
  <div class="p-lg-4 p-md-6 p-col-12">
    <label for="publisher-input" style="margin-right: 1em;">Autor</label>
    <input id="publisher-input" type="text" pInputText placeholder="Autor" [(ngModel)]="feed.publisher" />
  </div>
  <div class="p-lg-4 p-md-6 p-col-12">
    <label for="image-input" style="margin-right: 1em;">Url imágen</label>
    <input id="image-input" type="text" pInputText placeholder="Url imágen" [(ngModel)]="feed.image" />
  </div>
  <div class="p-lg-4 p-md-6 p-col-12">
    <label for="link-input" style="margin-right: 1em;">Enlace</label>
    <input id="link-input" type="text" pInputText placeholder="Enlace" [(ngModel)]="feed.source" />
  </div>
  <div class="p-lg-4 p-md-6 p-col-12">
    <label for="body-input" style="margin-right: 1em;">Noticia</label>
    <textarea id="body-input" pInputTextarea [(ngModel)]="feed.body"></textarea>
  </div>
</div>
<button pButton type="button" label="Crear Noticia" (click)="newFeed()" style="margin-top: 3em;"></button>